/* ////  SECTION ACCUEIL  ///// */

.bg-image {
    background-image: url(/img/DSC2945formobile.jpg);
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
.bg-image p {
    display: none;
}
.btn {
    display: none;
}


/* /////  SECTION NOUS  ///// */



.text-justify {
    margin: 0;
}
#nous div h2{
    font-size: 30px;
    margin: auto;
}
#nous p {
    margin-top: 20px;
    padding: 0 10px;
    font-size: 14px;
    opacity: 0.6;
    background-color: #303030;
    border: 1px solid #B36700;
    border-radius: 10px;

}




